@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 300;
}